@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;700&display=swap');
*{
  font-family: Inconsolata;
}

.App{
  text-align: center;
}


.fondo{
  background-color: #2b2e3d;
}

.searchButton{
  position: relative;
  top: -56px;
  left: 289px;
  height: 35px;
}

.container-Card{
  color: aliceblue;
}


.w-100{
  background-color: #1d2125;
}

.react-autosuggest__input{
  margin-top: 1rem;
}

